[Desktop Entry]
Encoding=UTF-8
Name=Vaperscoin
Comment=Vaperscoin P2P Cryptocurrency
Comment[fr]=Vaperscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vaperscoin, eşten eşe kriptografik sanal para birimi
Exec=vaperscoin-qt %u
Terminal=false
Type=Application
Icon=vaperscoin128
MimeType=x-scheme-handler/vaperscoin;
Categories=Office;Finance;
